<nav class="navbar navbar-expand-lg bg-light-subtl">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://t3.ftcdn.net/jpg/01/39/69/88/360_F_139698895_YqcszLvAoImKvuIpXUrbBiaANXXO3pXS.jpg" alt="Bootstrap" width="150" height="120">
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto d-flex justify-content-around">
                <li class="nav-item ">
                    <a class="nav-link active btn btn-info " aria-current="page" [routerLink]="['catalog']" style="font-size: 30px; margin-right:10px;">Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-info" aria-current="page" [routerLink]="['makers']" style="font-size: 30px; margin-right:10px;">Car makers and Models</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-info" aria-current="page" [routerLink]="['contact']" style="font-size: 30px; margin-right:10px;">contact us!</a>
                </li>
            </ul>      
        </div>
    </div>
</nav>
