
<div class=" d-flex justify-content-center">
    <select class="form-select w-25 mb-4" [(ngModel)]="manufacturerSelected" (change)="manufacturersFilter()">
        <option>All</option>
        @for (item of manufacturers; track $index) {
            <option>{{item}}</option>
        }    
    </select>
</div>
<div class=" d-flex justify-content-center">    
    <div class="row w-75">
        @for (item of cartosellFiltered; track $index) {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img [src]="item.image" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title.split(' ')[0]}}</h5>
                      <h5 class="card-title">{{item.title.split(' ')[1]}}</h5>
                      <p class="card-text">{{item.class}}</p>
                      <a href="#" class="btn btn-primary">{{item.price}}€</a>
                    </div>
                  </div>
            </div>
        }
    </div>
</div>

